.border{
    border: solid 1px black;
}
.no-padding{
    padding: 0;
}
.no-margin
{
    margin: 0;
}

header > .header-logo{
    background: #b5205a;
}
header > .header-nav
{
    background: #323a45;
}
.header-nav > .container > ul > li > a
{
    text-decoration: none !important;
    /*font-size: large !important;*/
    /*color: white !important;*/
}

.header-nav > .container > ul > li > a, a:hover, a:active
{
    text-decoration: none !important;
    /*font-size: large !important;*/
    /*color: white !important;*/
}
.header-nav .dropdown-menu
{
    color: white;
    /*background: #323a45;*/
}
.header-nav .container > ul > li > .dropdown-menu > li > a, a:hover, a:active
{
    text-decoration: none !important;
    /*font-size: large !important;*/
    /*color: #FFFFFF !important;*/
}
.header-nav .container > ul > li > .dropdown-menu > li > a:hover, a:active
{
    text-decoration: none !important;
    /*font-size: large !important;*/
    /*color: #323A45 !important;*/
}
