#upload_image{
    height: 100px;
    background: lightgray;
}
.for_porfile_image{
    height: 110px;
}
.name
{
    margin-top: 5px;
    margin-bottom: 8px;
}
.bar{
    background: #87cefa;
    height: 100%;
    width: 0%;
}